@model MultiBooks_Models.ViewModels.BookVM
<div class="border p-3 DivBgForm">
  <form class="form-horizontal" method="post" asp-action="Create">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Book.Id" />
    <div class="form-group row">
      <h2 class="text-info pl-3">Update a Book</h2>
      <hr />
    </div>

    <div class="col-8  pt-4">
      <div class="form-group row p-2">
        <div class="col-2">
          <label asp-for="Book.Title"></label>
        </div>
        <div class="col-8">
          <input asp-for="Book.Title" class="form-control" />
          <span asp-validation-for="Book.Title" class="text-danger"></span>
        </div>
      </div>

      <div class="form-group row p-2">
        <div class="col-2">
          <label asp-for="Book.ISBN"></label>
        </div>
        <div class="col-8">
          <input asp-for="Book.ISBN" class="form-control" />
          <span asp-validation-for="Book.ISBN" class="text-danger"></span>
        </div>
      </div>

      <div class="form-group row p-2">
        <div class="col-2">
          <label asp-for="Book.Price"></label>
        </div>
        <div class="col-8">
          <input type="number" asp-for="Book.Price" class="form-control text-right" />
          <span asp-validation-for="Book.Price" class="text-danger"></span>
        </div>
      </div>

      <div class="form-group row p-2">
        <div class="col-2">
          <label asp-for="Book.PublishedDate"></label>
        </div>
        <div class="col-8">
          <input type="date" asp-for="Book.PublishedDate" value="2021-01-01" class="form-control" />
          <span asp-validation-for="Book.PublishedDate" class="text-danger"></span>
        </div>
      </div>

      <div class="form-group row p-2">
        <div class="col-2">
          Publisher
        </div>
        <div class="col-8">
          @Html.DropDownListFor(p => p.Book.Publisher_Id, Model.PublisherList.OrderBy(p => p.Text), "-Select a Publisher",
         new { @class = "form-control" })
          <span asp-validation-for="Book.Publisher_Id" class="text-danger"></span>
        </div>
      </div>

      <div class="form-group row p-2">
        <div class="col-2">
          Subject
        </div>
        <div class="col-8">
          @Html.DropDownListFor(s => s.Book.Subject_Id, Model.SubjectList.OrderBy(s => s.Text), "-Select a Subject",
         new { @class = "form-control" })
          <span asp-validation-for="Book.Subject_Id" class="text-danger"></span>
        </div>
      </div>

      <div class="form-group row p-2">
        <div class="col-8 offset-2 row">
          <div class="col">
            <input type="submit" class="btn btn-info w-100" value="Edit" />
          </div>
          <div class="col">
            <a asp-action="Index" class="btn btn-success w-100">Back to list</a>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>

@section Scripts{
  @{
    <partial name="_ValidationScriptsPartial" />
  }
}
