@model IEnumerable<Subject>

<div class="container p-3 DivBgForm">
  <div class="row pt-4">
    <div class="col-10">
      <h2 class="text-primary">Book's Subject</h2>
    </div>
    <div class="col-2 text-right">
      <a asp-controller="Subject" asp-action="Create" class="btn btn-success">
        Create New Subject
      </a>
    </div>
  </div>

  <br /><br />
  @if (Model.Count() > 0)
  {
    <table class="table table-bordered table-striped border-primary" style="width:100%">
      <thead class="bg-primary">
        <tr>
          <th>
            Subject
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-striped table-light border-dark border-1">
        @foreach (var item in Model.OrderBy(s => s.Name))
        {
          <tr class="text-dark">
            <td width="80%">@item.Name</td>
            <td width="20%" class="text-center">
              <div class="w-75 btn-group" role="group">
                <a class="btn btn-warning mx-2" asp-action="Edit" asp-route-Id="@item.Id">
                  Edit
                </a>
                <a class="btn btn-danger mx-2" asp-action="Delete" asp-route-Id="@item.Id">
                  Delete
                </a>
              </div>
            </td>
          </tr>

        }

      </tbody>
    </table>
  }
  else
  {
    <p>No subject exists.</p>
  }
</div>
