@model IEnumerable<MultiBooks_Models.Models.Book>
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome in the publishers section!</h1>
  <p>Publisher's dashboard will be available soon!</p>
</div>


